@use "../variables" as var;
@media screen and (max-width: 991.98px) {
	
	section {
		margin-bottom: var.$section-margin-mobile;
	}

	.logo {
		max-width: 126px;
	}

	h2 {
		font-size: 24px;
	}
	.navbar {
		padding: 16px 0 15px;

		.container {
			padding: 0;
		}
	}

	.navbar-collapse {
		background: var.$bg-color-accent;
		margin: 0 -12px;
		padding: 0 40px;
		text-align: center;
		transform: translate(0, 12px);

		.btn {
			margin-bottom: 60px;
			width: 100%;
			max-width: 295px;
			font-size: 16px;
			padding: 21px 27px;
		}
	}

	.navbar-nav {
		padding: 37px 0 34px;
	}

	.nav-link {
		font-size: 24px;
		line-height: 222%;
	}

	.bg-accent {
	
		&::before {
			border-radius: 0;
			inset: 0;
		}
		
		.container {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.template-title {

		&.template-title-case-3 {
			text-align: center;
			max-width: 100%;
			padding-bottom: 70px;
			
			h2 {
				&::after {
					@include var.title-line;
					margin: 0;
				}
			}
		}
	}

	.swiper-banner {
		.swiper-slide {
			display: flex;
			align-items: center;
			text-align: center;
			min-height: calc(100vh - var(--header-height));

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				background-color: rgba(4, 9, 17, 0.6);
				z-index: -1;
			}

			.container {
				padding: 0 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.banner-tittle {
		font-size: 32px;
	}

	.banner-description {
		font-size: 16px;
		margin-bottom: 18px;
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}

	.calculation-img {
		display: none;
	}

	.input-box_checkbox:first-child {
		margin-top: 6px;
	}
	.advantage .advantage__title {
		max-width: 218px;
		margin: 0 auto 40px;
	}
	.about {
		.container {
			flex-direction: column;
			align-items: center;
			gap: 25px;
		}
	}

	.questions__row {
		flex-direction: column;
		gap: 28px;
	}

	.questions-form {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 300px;
	}

	.partnership__content {
		gap: 36px;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.partnership__content-item {
			width: 100%;
			font-size: 14px;
		}

		.order-mobile-negative {
			order: -1;
		}
	}

	address {
		margin-left: auto;
		margin-right: auto;
	}

	nav {
		display: none;
	}
}
