@use "variables" as var;

.advantages {
	.swiper-pagination {
		position: static;
	}
}

.advantage {
	text-align: center;

	.advantage__img-box {
		@include var.flex-centred;
		margin: 0 auto 22px;
		border: 1px solid #6c7188;
		border-radius: 50%;
		width: 113px;
		height: 113px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			inset: 10px;
			border-radius: 50%;
			background-color: var.$secondary-color;
			z-index: -1;
			box-shadow: 0 4px 13px 0 rgba(30, 35, 66, 0.11);
		}
	}

	.advantage__title {
		font-weight: 400;
		font-size: 18px;
		line-height: 125%;
		text-align: center;
	}
}
.advantages .swiper-horizontal > .swiper-pagination-bullets,
.advantages .swiper-pagination-bullets.swiper-pagination-horizontal {
	top: calc(100% - 59px);
}
