.calculation {
	.template-title {
		padding-bottom: 52px;
	}
	.container {
		position: relative;
	}
}

.calculation-form {
	max-width: 626px;
	background: #363a4d;
	border-radius: 20px;
	padding: 50px 50px 60px;
	font-size: 15px;
}
.form-row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 30px;
	margin-bottom: 34px;
	&:last-of-type {
		margin-bottom: 24px;
	}
}
.form-column {
	width: calc(50% - 15px);
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.input-box {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}
.input-box_checkbox {
	padding-left: 33px;
	padding-top: 2px;
	margin-bottom: -9px;
	&:first-child {
		margin-top: 20px;
	}
}
label {
	cursor: pointer;
	margin-bottom: 6px;
	letter-spacing: 0.1px;
}
input {
	background-color: #fff;
	color: #282b38;
	font-size: 15px;
	border-radius: 10px;
	padding: 18px 20px;
	border: none;
	transition: 0.3s;
	&:focus-visible {
		outline: none;
	}
	&:hover {
		outline: none;
		box-shadow: 0px 0px 4px 2px #e58d35aa;
	}
	&:focus {
		outline: none;
		box-shadow: 0px 0px 4px 2px #89c249aa;
	}
	&:active {
		outline: none;
		box-shadow: 0px 0px 5px 3px #89c249;
	}
	&[type="file"] {
		display: none;
		+ label {
			text-align: center;
			padding: 12px 12px;
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23fff' stroke-width='2' stroke-dasharray='3px%2c 6px' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
			border-radius: 10px;
			background-repeat: no-repeat;
			background-size: calc(100% - 1px) calc(100% - 1px);
			background-position: center;
			margin-bottom: 2px;
			&:hover {
				background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249' stroke-width='2' stroke-dasharray='3px%2c 6px' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
			}
		}
	}
	&::placeholder {
		color: #cbcbcb;
	}
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="checkbox"] {
	display: none;
	+ label {
		&:hover {
			color: #e58d35;
			&::before {
				border-color: #e58d35;
			}
		}
	}
}
input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	background-color: #ffff;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border: 1px solid #282b38;
	border-radius: 4px;
}
input[type="checkbox"]:checked + label::before {
	content: "";
	background: url(./assets/img/checked.svg) center no-repeat #fff;
}
.nice-select {
	color: #282b38;
	height: 55px;
	border-radius: 10px;
	font-size: 15px;
	line-height: 52px;
	&::after {
		border-bottom: none;
		border-right: none;
		height: 15px;
		right: 15px;
		width: 15px;
		background: url(./assets/img/select-arrow.svg) center -2px / 15px no-repeat;
		transform: rotate(0);
		margin-top: -9px;
	}
	.list {
		margin-bottom: 0;
	}
}
.nice-select.open::after {
	transform: rotate(-180deg);
	margin-top: -14px;
	right: 20px;
}
.nice-select-dropdown {
	width: 100%;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
	background-color: #e58d35;
}
.file-name {
	margin-bottom: 13px;
}
.calculation-img {
	position: absolute;
	bottom: -100px;
	left: 610px;
}
