@use "variables" as var;

.calculation {
	.template-title {
		padding-bottom: 52px;
	}

	.container {
		position: relative;
	}
	.template-title h2::after {
		background-color: var.$secondary-color;
	}
}

.calculation-form {
	max-width: 626px;
	background: var.$bg-color-accent;
	border-radius: 20px;
	padding: 50px 50px 60px;
	font-size: 15px;
}

.calculation-img {
	position: absolute;
	bottom: -100px;
	left: 610px;
}
