@use "variables" as var;
.swiper-banner {
	max-width: 1820px;

	.swiper-slide {
		min-height: 700px;
		background-color: var.$bg-color-accent;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		.container {
			padding-top: 163px;
			padding-bottom: 73px;
		}
	}

	.swiper-banner-arrow {
		@include var.swiper-arrow-container;
		width: 100%;
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		top: calc(100% - 59px);
	}
}

.banner-tittle {
	font-size: 56px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 24px;
	max-width: 515px;
	margin-bottom: 10px;
	line-height: 1.26;
}

.banner-description {
	max-width: 340px;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 37px;
	line-height: 1.35;
}
