@use "variables" as var;
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	font-family: "ProximaNova";
	background-color: var.$bg-color;
	color: var.$color;
	font-size: 16px;
}

section {
	margin-bottom: var.$section-margin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	line-height: 1.26;
	font-size: 56px;
}

h2 {
	line-height: 1.245;
	font-size: 36px;
}

h3 {
	line-height: 1.245;
	font-size: 22px;
}

h4 {
	font-size: 20px;
	line-height: 1.355;
}

h5 {
	font-size: 18px;
	line-height: 1.245;
}

h6 {
	font-size: 17px;
	line-height: 1.26;
}

select {
	display: none;
}

label {
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 6px;
	letter-spacing: 0.1px;
}

input {
	background-color: var.$color;
	color: var.$bg-color;
	font-size: 15px;
	border-radius: 10px;
	padding: 17px 20px;
	border: none;
	transition: 0.3s;
	&:focus-visible {
		outline: none;
	}
	&:hover {
		outline: none;
		box-shadow: 0px 0px 4px 2px #e58d35aa;
	}
	&:focus {
		outline: none;
		box-shadow: 0px 0px 4px 2px #89c249aa;
	}
	&:active {
		outline: none;
		box-shadow: 0px 0px 5px 3px var.$secondary-color;
	}
	&[type="file"] {
		display: none;
		+ label {
			text-align: center;
			padding: 12px 12px;
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23fff' stroke-width='2' stroke-dasharray='3px%2c 6px' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
			border-radius: 10px;
			background-repeat: no-repeat;
			background-size: calc(100% - 1px) calc(100% - 1px);
			background-position: center;
			margin-bottom: 2px;
			&:hover {
				background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249' stroke-width='2' stroke-dasharray='3px%2c 6px' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
			}
		}
	}
	&::placeholder {
		color: #cbcbcb;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="checkbox"] {
	display: none;
	+ label {
		&:hover {
			color: var.$primary-color;
			&::before {
				border-color: var.$primary-color;
			}
		}
	}
}

input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	background-color: var.$color;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border: 1px solid var.$bg-color;
	border-radius: 4px;
}

input[type="checkbox"]:checked + label::before {
	content: "";
	background: url(./assets/img/checked.svg) center no-repeat var.$color;
}

.bg-accent {
	position: relative;
	padding: 90px 0 100px;

	.container {
		max-width: 1364px;
		padding-left: 100px;
		padding-right: 100px;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0 50px;
		background-color: var.$bg-color-accent;
		max-width: 1820px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
		z-index: -1;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.btn {
	font-size: 15px;
	border-radius: 90px;
	background-color: var.$primary-color;
	color: var.$color;
	border: 1px solid var.$primary-color;
	padding: 12px 27px;
	&:hover,
	&:focus,
	&:active {
		background-color: transparent;
		color: var.$color;
	}
	&:focus,
	&:active {
		box-shadow: none;
	}

	&.btn-s {
		padding: 12px 18px;
	}

	&.btn-l {
		font-size: 16px;
		padding: 19px 21px 19px 33px;
		img {
			margin-left: 48px;
		}
	}

	&.btn-secondary {
		background-color: transparent;
		border: 1px solid var.$primary-color;
		&:hover,
		&:active,
		&:focus {
			background-color: var.$primary-color;
		}
	}
}

.hamburger-box {
	width: 27px;
	height: 25px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: var.$color;
	width: 27px;
	height: 2px;
}
.hamburger--vortex .hamburger-inner {
	top: 13px;
	bottom: 2px;
}
.template-title {
	text-align: center;
	position: relative;
	padding-bottom: 70px;

	h2 {
		text-transform: uppercase;
		margin-bottom: 7px;
		&::after {
			content: "";
			position: absolute;
			bottom: 54px;
			left: 50%;
			width: 85px;
			height: 2px;
			background-color: var.$primary-color;
			transform: translateX(-50%);
		}
	}
	h3 {
		font-weight: 400;
		font-size: 24px;
	}
	&.template-title-case-2 {
		text-align: left;
		h2 {
			&:after {
				left: 0;
				transform: none;
			}
		}
	}
	&.template-title-case-3 {
		max-width: 626px;
		text-align: left;
		h2 {
			&:after {
				display: inline-block;
				position: static;
				transform: none;
				margin: 0 0 8px 20px;
			}
		}
	}
}

.form-row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 30px;
	margin-bottom: 34px;
	&:last-of-type {
		margin-bottom: 24px;
	}
}

.form-column {
	width: calc(50% - 15px);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input-box {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.input-box_checkbox {
	padding-left: 33px;
	padding-top: 2px;
	margin-bottom: -9px;
	&:first-child {
		margin-top: 20px;
	}
}

.file-name {
	margin-bottom: 13px;
}

.nice-select {
	color: var.$bg-color;
	height: 55px;
	border-radius: 10px;
	font-size: 15px;
	line-height: 52px;
	&::after {
		border-bottom: none;
		border-right: none;
		height: 15px;
		right: 15px;
		width: 15px;
		background: url(./assets/img/select-arrow.svg) center -2px / 15px no-repeat;
		transform: rotate(0);
		margin-top: -9px;
	}

	.list {
		margin-bottom: 0;
	}
}

.nice-select.open::after {
	transform: rotate(-180deg);
	margin-top: -14px;
	right: 20px;
}

.nice-select-dropdown {
	width: 100%;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
	background-color: var.$primary-color;
}
