html {
	font-size: 16px;
}
body {
	font-family: "ProximaNova";
	background-color: $bg-color;
	color: $color;
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
h1 {
	line-height: 1.26;
	font-size: 56px;
}
h2 {
	line-height: 1.245;
	font-size: 36px;
}
h3 {
	line-height: 1.245;
	font-size: 22px;
}
h4 {
	font-size: 20px;
	line-height: 1.355;
}
h5 {
	font-size: 18px;
	line-height: 1.245;
}
h6 {
	font-size: 17px;
	line-height: 1.26;
}

.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.btn {
	font-size: 15px;
	border-radius: 90px;
	background-color: $primary-color;
	color: $color;
	border-color: $primary-color;
	padding: 12px 27px;
	&:hover,
	&:focus,
	&:active {
		background-color: transparent;
		color: $color;
		border: 1px solid $primary-color;
	}
	&:focus,
	&:active {
		box-shadow: none;
	}
	&.btn-s {
		padding: 12px 18px;
	}
	&.btn-l {
		font-size: 16px;
		padding: 19px 21px 19px 33px;
		img {
			margin-left: 48px;
		}
	}
	&.btn-secondary {
		background-color: transparent;
		border: 1px solid $primary-color;
		&:hover,
		&:active,
		&:focus {
			background-color: $primary-color;
		}
	}
}

.navbar-nav.w-100.justify-content-between.mx-auto {
	max-width: 650px;
}
.navbar-nav.w-100.justify-content-between.mx-auto .nav-link {
	padding: 10px 8px;
}
.hamburger-box {
	width: 27px;
	height: 25px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff;
	width: 27px;
	height: 2px;
}
.hamburger--vortex .hamburger-inner {
	top: 13px;
	bottom: 2px;
}

.template-title {
	text-align: center;
	position: relative;
	padding-bottom: 70px;
	
	h2 {
		text-transform: uppercase;
		margin-bottom: 7px;
		&::after {
			content: "";
			position: absolute;
			bottom: 54px;
			left: 50%;
			width: 85px;
			height: 2px;
			background-color: #e58d35;
			transform: translateX(-50%);
		}
	}
	h3{
		font-weight: 400;
		font-size: 24px;
	}
	&.template-title-case-2{
		text-align: left;
		h2{
			&:after{
				left: 0;
				transform: none;
			}
		}

	}
	&.template-title-case-3{
		max-width: 626px;
		text-align: left;
		h2{
			&:after{
				display: inline-block;
				position: static;
				transform: none;
				margin: 0 0 8px 20px;
			}
		}


	}
}
