@use "variables" as var;

.logo {
	max-width: 172px;
}

.navbar {
	padding: 27px 0 37px;
	white-space: nowrap;
}

.navbar-nav {
	max-width: 619px;
	padding: 5px 0 0 0;
}

.nav-link {
	color: var.$color;
	
	&:hover {
		color: var.$primary-color;
	}
}

.hamburger {
	@include var.flex-centred;
	padding: 8px 7px;

	&:focus {
		box-shadow: none;
	}
}
