.logo{
	max-width: 172px;
}
.navbar {
	padding: 37px 0 27px;
}
.navbar-nav {
	max-width: 619px;
	padding: 5px 0 0 0 ;
}
.nav-link {
	color: $color;
	&:hover {
		color: $primary-color;
	}
}
.hamburger {
	padding: 8px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
	&:focus {
		box-shadow: none;
	}
}

