@use "variables" as var;
.partnership{
	.template-title h2::after {
    background-color: var.$secondary-color;
}
}
.partnership__content {
	display: flex;
	gap: 56px;
	flex-wrap: wrap;
}

.partnership__content-item {
	width: calc(50% - 28px);
	font-size: 17px;
	font-weight: 300;
	line-height: 157%;

	p {
		margin-bottom: 28px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	img {
		height: auto;
		max-width: 100%;
	}
}
