$font-primary: "Open Sans";
$font-secondary: "monospace";
$font-size: 16px;

$primary-color: #e58d35;
$secondary-color: #89c249;
$bg-color: #282b38;
$bg-color-accent: #363a4d;
$color: #fff;
$section-margin: 100px;
$section-margin-mobile: 60px;

@mixin title-line {
	content: "";
	position: absolute;
	width: 85px;
	height: 2px;
	background-color: $primary-color;
	bottom: 54px;
	left: 50%;
	transform: translateX(-50%);
}
@mixin flex-centred {
	display: flex;
	align-items: center;
	justify-content: center;
}
