$font-primary: "Open Sans";
$font-secondary: "monospace";
$font-size: 16px;

$primary-color: #e58d35;
$secondary-color: #89c249;
$bg-color: #282b38;
$bg-color-accent: #363a4d;
$color: #fff;
$section-margin: 100px;
/* 
@mixin bg-accent {
 
}
nav ul {
  @include bg-accent;
}
   */
