<section class="about">
  <div class="container">
    <div class="about_text">
      <div class="template-title template-title-case-2">
        <h2>About the company</h2>
      </div>
      <p class="about_text__description">USA Cargo Company is a full range of logistics services for cargo delivery
        from USA to Ukraine - consolidated cargo
        and whole consignments, Bananza intermediary services, CARGO USA-Ukraine For your
        convenience, there are
        rates for
        light and heavy cubes. We have been working in the market for over 4 years, and the company's managers have
        been engaged
        in logistics for over 11 years. We strive to provide the best delivery conditions and the best service to our
        customers.
        Choosing us - you choose high-quality delivery that is optimal in price and time! See for yourself!</p>
    </div>
    <div class="about_img-box"><img src="../assets/img/about-picture.png" alt="about-picture">
    </div>


  </div>
</section>