<section class="advantages bg-accent">
	<div class="container">
		<div class="template-title">
			<h2>Why choose us?</h2>
		</div>
		<div id="advantages" class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="./assets/img/advantage-icon-1.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">Customs clearance of cargo</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="./assets/img/advantage-icon-2.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">Cargo insurance</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="./assets/img/advantage-icon-3.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">Checking the product for defects</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="./assets/img/advantage-icon-4.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">Delivery to any city in Ukraine</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="./assets/img/advantage-icon-5.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">Consolidation in warehouse</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="./assets/img/advantage-icon-6.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">Responsible storage of cargo</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="./assets/img/advantage-icon-7.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">Help with payment for goods</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="./assets/img/advantage-icon-8.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">
							Packing, repacking, palletizing cargo
						</h6>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>