<section id="calculation" class="calculation">
	<div class="container">
		<div class="template-title template-title-case-3">
			<h2>Get a cost estimate for shipping your cargo</h2>
		</div>
		<form class="calculation-form">
			<div class="form-row">
				<div class="form-column">
					<div class="input-box">
						<label for="product-category">Product category :</label>
						<select id="product-category">
							<option value="1">Heavy</option>
							<option value="2">Medium</option>
							<option value="3">Light</option>
						</select>
					</div>
					<div class="input-box">
						<label for="cargo-weight">Cargo weight (kg) :</label>
						<input id="cargo-weight" type="number" placeholder="Enter weight" inputmode="numeric" />
					</div>
				</div>
				<div class="form-column">
					<div class="input-box">
						<label for="cargo-cost">Cargo cost : </label>
						<input id="cargo-cost" type="number" placeholder="Enter the cost" inputmode="numeric" />
					</div>
					<div class="input-box">
						<label for="cargo-volume">Cargo volume (m3) :</label>
						<input id="cargo-volume" type="number" placeholder="Enter volume" inputmode="numeric" />
					</div>
				</div>
				<div class="form-column">
					<div class="input-box input-box_checkbox">
						<input id="insurance" type="checkbox" />
						<label for="insurance">Insurance</label>
					</div>
					<div class="input-box input-box_checkbox">
						<input id="customs-clearance" type="checkbox" />
						<label for="customs-clearance">Customs clearance</label>
					</div>
				</div>
				<div class="form-column">
					<div class="input-box">
						<label for="hs-code">HS code : </label>
						<input id="hs-code" type="text" placeholder="Enter the code" inputmode="text" />
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="input-box">
					<div class="file-name"></div>
					<input id="calculation-file" type="file" />
					<label for="calculation-file">Upload product photo</label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-l">Next step
				<img src="./assets/img/icon-arrow-left.svg" alt="icon-arrow-left" /></button>
		</form>
		<img src="./assets/img/man.png" class="calculation-img" alt="calculation-man" />
	</div>
</section>