<section class="cooperate">
  <div class="container">
    <div class="template-title">
      <h2>Ready to cooperate?</h2>
      <h3>Register the cargo!</h3>
    </div>
    <div class="cooperate-row">
      <div class="cooperate-column__one">
        <div class="cooperate_text">
          <p>• In order to start cooperation, it is necessary to register the cargo indicating information about the
            cargo
            contents,
            its cost and quantity. And also attach photos to the application.</p>

          <p>• If you need to check the goods for compliance with the quantity, then when registering the cargo on our
            website,
            indicate this in the "Note" column. This service is paid and amounts to 3 yuan per item in the order. Any
            additional
            cargo checks are discussed individually, including their cost.</p>

          <p>• Before sending the cargo to our warehouse in USA, be sure to make markings with your order number on our
            website for
            each outer box so that we can identify your cargo. If you are unable to do this yourself, then ask your
            supplier about
            it.</p>
        </div>
        <img class="cooperate__img-box" src="./assets/img/cooperate-img.png" alt="cooperate-img">
      </div>
      <div class="cooperate-column__two">
        <img class="cooperate__img-box" src="./assets/img/cooperate-img.png" alt="cooperate-img">
        <div class="cooperate_content">
          <div class="cooperate_text">
            <p>• After sending the cargo to our warehouse in USA, you must specify the tracking number for tracking
              parcels in USA
              for each item in the order. You can enter the tracking number on the order page. The tracking number is
              another measure
              to identify your cargo in our warehouse.</p>
            <p>• If you have processed the cargo according to our instructions and done everything correctly, then upon
              receipt of your
              cargo at the warehouse in USA, the order status will change to "In stock".</p>
          </div>
          <a href="#" class="btn btn-primary btn-l">Clear cargo
            <img src="./assets/img/icon-arrow-left.svg" alt="icon-arrow-left" /></a>
        </div>
      </div>
    </div>

  </div>

</section>