<footer>
	<section class="footer">
		<div class="container">
			<div class="footer-line"></div>
			<div class="footer-row">
				<address id="contacts">
					<img src="./assets/img/footer-logo.svg" alt="footer-logo">
					<p class="contacts"><a href="tel:+380996001869">+38(099)600-18-69</a>
						<a href="mailto:info@cargousa.com">info@cargousa.com</a>
						ADDRESS IN THE USA :<span>1234 Elm Street, Suite 567
							Springfield, IL 62704, USA</span>

					</p>
					<a class="footer-icon" href="https://www.instagram.com/" target="_blank"><img
							src="../assets/img/address5-instagram.svg" alt="instagram"></a>
					<a class="footer-icon" href="https://web.telegram.org/" target="_blank"><img
							src="../assets/img/address-telegram.svg" alt="telegram"></a>
				</address>
				<nav>

					<div class="cargo-transportation">
						<h4>Cargo transportation</h4>
						<a href="#delivery">
							<p>Prices and terms</p>
						</a>
						<a href="#services">
							<p>Services</p>
						</a>
						<a href="#about">
							<p>About the company</p>
						</a>
						<a href="#contacts">
							<p>Contacts</p>
						</a>
						<a href="#calculation">
							<p>Register cargo</p>
						</a>
					</div>

					<div class="cargo-transportation">
						<h4>Services</h4>
						<a href="#">
							<p>Redemption of goods</p>
						</a>
						<a href="#">
							<p>Cargo insurance</p>
						</a>
						<a href="#">
							<p>Warehouse rental</p>
						</a>
						<a href="#">
							<p>Transfer of funds</p>
						</a>
					</div>

					<div class="cargo-transportation">
						<h4>Information</h4>
						<a href="#">
							<p>Reviews</p>
						</a>
						<a href="#">
							<p>Cargo requirements</p>
						</a>
						<a href="#">
							<p>Offer agreement</p>
						</a>
						<a href="#">
							<p>How to conclude an agreement</p>
						</a>
						<a href="#">
							<p>Methods of payment for services</p>
						</a>
						<a href="#">
							<p>Documents</p>
						</a>
						<a href="#">
							<p>Articles</p>
						</a>
					</div>
				</nav>
			</div>
		</div>
	</section>
</footer>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/nice-select2.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>