<section class="partnership">
  <div class="container">
    <div class="template-title">
      <h2>Ready to cooperate?</h2>
      <h3>Register the cargo!</h3>
    </div>
    <div class="partnership__content">
      <div class="partnership__content-item">
        <p>• In order to start cooperation, it is necessary to register the cargo indicating information about the
          contents of the
          cargo, its cost and quantity. And also attach photos to the application.</p>
        <p>• If you need to check the goods for compliance with the quantity, then when registering the cargo on our
          website,
          indicate this in the "Note" column. This service is paid and amounts to 3 yuan per item in the order. Any
          additional
          checks of the cargo are discussed individually, including their cost.</p>
        <p>• Before sending the cargo to our warehouse in USA, be sure to make markings with the number of your order
          on our
          website for each outer box so that we can identify your cargo. If you are unable to do this yourself, then ask
          your
          supplier about it.</p>
      </div>
      <div class="partnership__content-item order-mobile-negative"><img src="./assets/img/partnership-img-1.svg" alt="partnership">
      </div>
      <div class="partnership__content-item"><img src="./assets/img/partnership-img-2.svg" alt="partnership">
      </div>
      <div class="partnership__content-item">
        <p>• After sending the cargo to our warehouse in USA, you must specify the tracking number for tracking
          parcels in USA
          for each item in the order. You can enter the tracking number on the order page. The tracking number is
          another measure
          to identify your cargo in our warehouse.</p>
        <p>• If you have registered the cargo according to our instructions and done everything correctly, then upon
          receipt of
          your cargo at the warehouse in USA, the order status will change to "In warehouse".</p>
        <p>• When the cargo arrives at the warehouse and the order status changes, you will receive a notification to
          the email
          address specified during registration. The letter will contain up-to-date information on the order, including
          the date
          of receipt, order number and further steps for its processing.</p>
      </div>
    </div>

  </div>
</section>