<section class="questions">
  <div class="container">

    <div class="template-title">
      <h2>Frequently asked questions</h2>
    </div>

    <div class="questions__row">

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              How are shipping costs calculated?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              The cost of delivery is calculated based on the weight and dimensions of the parcel, as well as the
              carrier's rates and
              the selected delivery method.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How is payment for cargo delivery made?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Payment for delivery is made online after weighing and calculating the cost of the parcel, in a way
              convenient for you.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How to track a parcel from the USA?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Tracking of the parcel is available through your personal account on the website with the tracking number
              after the
              shipment has been sent.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Is it possible to pay for goods to the supplier through you?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Yes, we provide such a service, we can take payment for the goods in USA on ourselves. If you do not
              have a foreign
              currency account, you can pay for the goods in hryvnia to our account.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              What is special about CARGO delivery from China?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              CARGO shipping from the USA is a cost-effective way to ship goods wholesale or retail, with a fixed rate
              per kg and no
              hidden fees.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              What is the delivery time from USA?
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Delivery time from the US is usually 7 to 21 days depending on the method and destination.
            </div>
          </div>
        </div>
      </div>

      <form class="questions-form">
        <h3 class="questions-form__title">Any questions left?</h3>
        <h6 class="questions-form__subtitle">Leave a request and our manager will answer you shortly</h6>

        <div class="input-box">
          <input id="questions-form__name" type="text" placeholder="Name *" inputmode="numeric">
        </div>

        <div class="input-box">
          <input id="questions-form__phone" type="number" placeholder="Telephone *" inputmode="numeric">
        </div>

        <div class="input-box">
          <input id="questions-form__mail" type="text" placeholder="E-mail" inputmode="numeric">
        </div>

        <div class="input-box">
          <textarea id="" placeholder="Your question"></textarea>
        </div>

        <a href="#" class="btn btn-primary btn-l">Send request
          <img src="./assets/img/icon-arrow-left.svg" alt="icon-arrow-left" /></a>

      </form>

    </div>
  </div>
</section>