<section class="services bg-accent">
	<div class="container">
		<div class="template-title">
			<h2>Services</h2>
		</div>
		<div class="template-carousel">

			<div class="swiper">

				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<div class="card card_services" style="background-image: url(./assets/img/services-1.png)">
							<div class="card-body">
								<h5 class="card-title">Redemption of goods</h5>
								<p class="card-text">
									The company is a full range of logistics services for the delivery of
									goods from USA to Ukraine - consolidated cargo and whole consignments,
									Wish intermediary services, CARGO USA-Ukraine.
								</p>
								<div class="card__btn-row">
									<a href="#" class="btn btn-s btn-secondary">Read more</a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="card card_services" style="background-image: url(./assets/img/services-2.png)">
							<div class="card-body">
								<h5 class="card-title">Cargo insurance</h5>
								<p class="card-text">
									The company is a full range of logistics services for the delivery of
									goods from USA to Ukraine - consolidated cargo and whole consignments,
									Wish intermediary services, CARGO USA-Ukraine.
								</p>
								<div class="card__btn-row">
									<a href="#" class="btn btn-s btn-secondary">Read more</a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="card card_services" style="background-image: url(./assets/img/services-3.png)">
							<div class="card-body">
								<h5 class="card-title">Warehouse rental</h5>
								<p class="card-text">
									The company is a full range of logistics services for the delivery of
									goods from USA to Ukraine - consolidated cargo and whole consignments,
									Wish intermediary services, CARGO USA-Ukraine.
								</p>
								<div class="card__btn-row">
									<a href="#" class="btn btn-s btn-secondary">Read more</a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="card card_services" style="background-image: url(./assets/img/services-4.png)">
							<div class="card-body">
								<h5 class="card-title">Transfer of funds</h5>
								<p class="card-text">
									The company is a full range of logistics services for the delivery of
									goods from USA to Ukraine - consolidated cargo and whole consignments,
									Wish intermediary services, CARGO USA-Ukraine.
								</p>
								<div class="card__btn-row">
									<a href="#" class="btn btn-s btn-secondary">Read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="swiper-arrow-container">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
</section>